{
    "presets": [
      ["@babel/preset-env",
      {
        // "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage",
      }],
      "@babel/preset-typescript"
    ],
    "plugins": [
      "@babel/plugin-transform-async-to-generator"
    ]
  }